.outline {
  width: 100%;
  height: 100vh;
  position: absolute;

  span {
    float: left;
    width: 16.666%;
    height: 100vh;
    opacity: 1;
    border-right: 1px solid #ececec;
  }
}

.a {
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 255, 0.158);
}
.b {
  height: 100vh;
  width: 100%;
  background-color: rgba(43, 153, 102, 0.13);
}
.c {
  height: 100vh;
  width: 100%;
  background-color: rgba(153, 27, 65, 0.144);
}
