@import "../../styles/common.scss";

.CommunityContent {
  font-family: $main-font;
  color: $nomal-color;
  width: 100%;
  line-height: 1.5;
  padding-top: 152px;

  .container {
    max-width: 1200px;
    margin: 0 auto;

    .headtitle {
      height: 358px;
      text-align: center;
      letter-spacing: -0.1em;

      h2 {
        font-size: 70px;
        font-weight: 1000;
        height: 200px;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      span {
        font-family: "Noto Sans KR", Sans-serif;
        font-size: 27px;
        color: #767676;
      }
    }
  }

  section {
    display: block;
    width: 95%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;

    .content {
      display: inline-block;
      width: 100%;
      margin: 0 0 50px;

      .content_area {
        width: 100%;

        .content_title {
          border-top: 2px solid #000;
          width: 100%;
          overflow: hidden;
          border-bottom: 1px solid #dddddd;
          padding-left: 20px;

          h4 {
            font-family: $sub-font;
            line-height: 1.6;
            padding: 18px 20px 15px;
            font-size: 20px;
            color: #000;
            margin-bottom: 0;
            word-wrap: break-word;
            font-weight: 400;
          }

          .subinfo {
            display: inline-block;
            overflow: hidden;

            li {
              float: left;
              padding: 0 35px;
              font-size: 13px;
              line-height: 1.6;

              dt {
                float: left;
                padding-right: 15px;
                color: #333;
              }

              dd {
                color: #707070;
                float: left;
              }
            }
          }
        }

        .content_view {
          padding: 20px 35px 40px;
          font-size: 15px;
          color: #666;
          line-height: 1.6;
          word-wrap: break-word;
        }

        .content_reply {
          display: inline-block;
          width: 100%;
          margin: 15px 0;
          padding: 0;
        }

        .content_prevnext {
          border-top: 1px solid #ddd;
          border-bottom: 1px solid #ddd;

          dl {
            border-bottom: 1px solid #eee;
            padding: 18px 35px 16px;
            display: flex;
            flex-direction: row;

            dt {
              float: left;
              line-height: 1.6;
              padding-right: 30px;
              margin-right: 15px;
              font-size: 13px;
              color: #333;
            }

            dd {
              line-height: 1.6;
              font-size: 13px;
              color: #666;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
            }
          }
        }
      }

      .bottom_btn {
        display: inline-block;
        width: 100%;
        margin: 20px 0 40px;
        text-align: right;

        button {
          width: 112px;
          height: 44px;
          background-color: $brown-color;
          color: #fff;
          border: none;
          font-size: 15px;
        }
      }
    }
  }
}
