@import "../../styles/common.scss";

.FreeBoard {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  line-height: 4;

  td {
    border-bottom: 1px solid #ddd;

    a {
      color: $nomal-color;
      text-align: left;
    }
  }
}
