@import "../../../styles/common.scss";

.AlbumContentsTable {
  width: 540px;
  height: 178px;
  margin: 20px 0 20px 0;
  text-align: left;

  div {
    display: flex;

    p {
      height: 40px;
      width: 80px;
      font-size: 20px;
      font-family: $title-font;
      color: #2e2e2e;
    }
    div {
      width: 1px;
      background-color: #b6b6b6;
      height: 12px;
      float: left;
      margin: 5px 10px;
    }
    span {
      width: 300px;
      font-size: 17px;
      color: #5b5b5b;
      margin-left: 20px;
    }
  }
}

.albumDetail {
  width: 540px;
  height: 50px;
  font-family: $title-font;
  font-size: 16px;
  text-align: left;
}

.viewMoreButton {
  height: 44px;
  width: 169px;
  padding: 5px 0 8px 15px;
  position: relative;
  top: 50px;
  left: -205px;
  background-color: #000000;
  border: #666666 solid 1px;
  color: #ffffff;
  font-size: 17px;
  font-family: $title-font;
  text-align: left;
  box-shadow: inset 0 0 0 0 #ffffff;
  -webkit-transition: -webkit-box-shadow 350ms ease-in-out;
  -moz-transition: -moz-box-shadow 350ms ease-in-out;
  transition: box-shadow 350ms ease-in-out;

  .arrowImg {
    width: 20px;
    height: 20px;
    position: relative;
    top: 4px;
    right: -50px;
  }

  &:hover {
    color: #000000;
    box-shadow: inset 300px 0 0 0 #ffffff;
  }
}
