@import "../../../styles/common.scss";
.ConcertSection_bg {
  width: 100%;
  height: 100vh;
  background-color: #fff;
}
.backgroundTxt {
  width: 100%;
  position: absolute;
  left: 0;
  top: 17%;
  font-family: $title-font;
  font-weight: 300;
  font-size: 460px;
  line-height: 0;
  color: #ccc;
  opacity: 0.2;
}
.ConcertSection {
  width: 100%;
  height: 100%;
  .concertSlideOutline {
    height: 50%;
    margin-top: 20vh;
    .concertIntroduce {
      height: 70%;
      width: 22%;
      margin-left: 10%;
      position: absolute;
      h2 {
        margin-bottom: 60px;
        font-family: $title-font;
        font-size: 65px;
        font-weight: bold;
        line-height: 1;
        position: relative;
        top: 40px;
        animation-name: upcomingConcert;
        animation-duration: 3s;
        animation-duration: leaner;
        animation-iteration-count: infinite;
        animation-delay: 7s;
        @keyframes upcomingConcert {
          0% {
            opacity: 0;
            transform: translateX(20%);
          }
          100% {
            opacity: 1;
            transform: translateX(0);
          }
        }
      }
      p {
        position: relative;
        top: 50px;
        font-size: 24px;
        font-weight: 300;
        color: #767676;
        animation-name: introduce;
        animation-duration: 3s;
        animation-duration: leaner;
        animation-iteration-count: infinite;
        animation-delay: 7s;
        @keyframes introduce {
          0% {
            opacity: 0;
            transform: translateY(150%);
          }
          100% {
            opacity: 1;
            transform: translateY(0);
          }
        }
      }
      .buttonContainer {
        width: 350px;
        height: 46px;
        position: absolute;
        top: 350px;
        left: 0;
        float: left;
        .viewMoreButton {
          height: 44px;
          width: 169px;
          padding: 5px 0 8px 15px;
          top: 0;
          left: 0;
          background-color: #ffffff00;
          border: #666666 solid 1px;
          color: #000000;
          font-size: 17px;
          font-family: $title-font;
          text-align: left;
          box-shadow: inset 0 0 0 0 #000000;
          -webkit-transition: -webkit-box-shadow 350ms ease-in-out;
          -moz-transition: -moz-box-shadow 350ms ease-in-out;
          transition: box-shadow 350ms ease-in-out;
          .arrowImg {
            width: 20px;
            height: 20px;
            position: relative;
            top: 4px;
            right: -50px;
          }
          &:hover {
            color: #ffffffff;
            box-shadow: inset 300px 0 0 0 #000000;
          }
        }
        .swiperButton {
          width: 45px;
          height: 45px;
          margin-left: 10px;
          position: absolute;
          top: 0px;
          left: 200px;
          border-radius: 50%;
          border: #666666 1px solid;
          img {
            width: 45px;
            height: 45px;
            padding: 13px;
          }
        }
        .forward {
          left: 270px;
        }
      }
    }
  }
}
.ConcertContents {
  img {
    width: 287px;
    height: 405px;
  }
  p {
    width: 287px;
    height: 20px;
    margin: 20px 0;
    font-size: 18px;
  }
}
