@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100;300;500;600;700;900&display=swap");
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap");

$main-font: "Nanum Gothic", Dotum, Helvetica, AppleGothic, Gulim, "Roboto",
  "굴림", Sans-serif;
$sub-font: "Noto Sans KR", Dotum, Helvetica, AppleGothic, Gulim, "Roboto",
  "굴림", Sans-serif;
$title-font: "Barlow Condensed", sans-serif;
$script-font: "Dancing Script", cursive;
$brown-color: #be9b71;
$nomal-color: #222222;
$background-subcolor: #f7f7f7;
$Nav-bg-color: #f3f3f3;

$nomal-border: 1px solid #ddd;

a {
  color: $nomal-color;
}
