@import "../../styles/common.scss";

.ConcertDetail {
  width: 100%;
  padding-top: 152px;
  font-family: $main-font;
  color: $nomal-color;
  line-height: 1.5;
  letter-spacing: -0.05em;

  .container {
    max-width: 1200px;
    margin: 0 auto;

    article {
      .concert_content {
        height: 600px;
        display: flex;
        flex-direction: row;
        border-bottom: $nomal-border;

        img {
          width: 385px;
          height: 524px;
        }

        .detail_info {
          width: 50vw;
          padding-left: 4%;

          .concert_title {
            padding: 1rem 0;
            margin-bottom: 2rem;
            border-bottom: $nomal-border;

            .border_line {
              position: relative;
              top: 17px;
              width: 10rem;
              height: 0.5px;
              background-color: $nomal-color;
            }

            h3 {
              margin-right: 7px;
              font-size: 32px;
              font-weight: 500;
              font-family: $sub-font;
              color: $nomal-color;
            }
          }

          dl {
            padding: 8px 0;
            display: flex;
            flex-direction: row;

            dd {
              padding-left: 5px;
              color: rgb(116, 116, 116);
              font-weight: bold;

              span {
                color: #ddd;
                padding-right: 1rem;
              }
            }

            dt {
              width: 6vw;
              font-weight: 600;
            }
          }
        }
      }

      .concert_profile {
        padding: 2rem 0 4rem;

        .concert_profile-post {
          font-size: 22px;
          font-weight: 600;
          color: #666;
        }

        img {
          display: block;
          padding: 2rem 0 3rem;
          margin: 0 auto;
        }

        .concert_profile_detail {
          width: 60%;
          margin: 0 auto;
          text-align: center;
          font-size: 14px;
          letter-spacing: -1px;
          color: #666;
        }
      }
    }

    .content_prevnext {
      border-top: $nomal-border;
      border-bottom: $nomal-border;

      .bottom {
        border-bottom: 1px solid rgb(236, 236, 236);
      }

      dl {
        padding: 18px 35px 16px;
        display: flex;
        flex-direction: row;

        dt {
          padding-right: 30px;
          margin-right: 15px;
          float: left;
          font-size: 13px;
          line-height: 1.6;
          color: $nomal-color;
          cursor: pointer;
        }

        dd {
          line-height: 1.6;
          font-size: 13px;
          color: #666;
          cursor: pointer;
        }
      }
    }
  }

  .bottom_btn {
    display: inline-block;
    margin: 20px 0 40px;
    width: 100%;
    text-align: center;

    button {
      width: 112px;
      height: 44px;
      border: none;
      background-color: $brown-color;
      font-size: 15px;
      color: #fff;
      cursor: pointer;
    }
  }
}
