@import "../../styles/common.scss";

.ConcerList {
  span {
    display: inline-block;
    animation-name: title;
    animation-duration: 1s;
    animation-duration: leaner;
    animation-iteration-count: 1;
    animation-direction: alternate;
    animation-fill-mode: forwards;
    font-size: 2rem;

    @keyframes title {
      0% {
        transform: translateY(0);
        filter: blur(0);
        opacity: 1;
      }
      50% {
        transform: translateY(15px);
        filter: blur(5px);
        opacity: 0.2;
      }
    }
  }
  span:nth-child(2) {
    animation-delay: 0.08s;
  }
  span:nth-child(3) {
    animation-delay: 0.11s;
  }
  span:nth-child(4) {
    animation-delay: 0.14s;
  }
  span:nth-child(5) {
    animation-delay: 0.17s;
  }
  span:nth-child(6) {
    animation-delay: 0.2s;
  }
  span:nth-child(7) {
    animation-delay: 0.23s;
  }

  padding-top: 152px;
  background-color: cadetblue;
  width: 100vw;
  height: 100vh;

  .concerTitle {
    position: absolute;
    top: 300px;
  }
}
