@import "../../styles/common.scss";

.List {
  border-bottom: 2px solid #ddd;
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 40px 0;
  img {
    width: 290px;
    height: 290px;
    padding: 0 0 0 40px;
  }
  .album_info {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    .album_title {
      margin-inline-start: 0;
      line-height: 1.6;
      margin-top: 20px;
      margin-bottom: 0;
      font-size: 27px;
      font-weight: 700;
      color: #000;
    }
    .album_info {
      margin-inline-start: 0;
      margin: 10px 0;
      margin-bottom: 30px;

      .album_subinfo {
        display: flex;
        dl {
          display: flex;
          flex-direction: row;
          margin-bottom: 15px;
          font-size: 17px;
          width: 18vw;
          dd {
            margin-inline-start: 0;
            font-family: "Noto Sans KR", Sans-serif;
            color: #5b5b5b;
            box-sizing: border-box;
            margin-bottom: 0;
          }
        }
      }
    }
    button {
      max-width: 169px;
      height: 44px;
      margin-top: 25px;
      background-color: #fff;
      border: 1px solid $brown-color;
      outline: none;
      color: $brown-color;
      cursor: pointer;
    }
  }
}
