.Nav {
  width: 100%;
  height: 9.5rem;
  padding-top: 1.2rem;
  position: fixed;
  background: white;
  transition: all 0.4s ease;

  &.bottom {
    box-shadow: 1px 1px 17px rgba(0, 0, 0, 0.1);
  }

  .Nav-top {
    height: 3.8rem;
    margin: 0 auto;
    display: flex;
    justify-content: center;

    img {
      text-align: center;
    }

    .right-icon {
      position: absolute;
      right: 5.2rem;
      display: flex;
      flex-direction: row;

      .search-bar {
        position: absolute;
        right: 5rem;
        margin-top: 0.5rem;
        font-size: 1.2rem;

        img {
          padding-top: 10px;
          width: 1.3rem;
          cursor: pointer;
        }
      }

      //햄버거 메뉴 아이콘

      .toggle-menu {
        display: inline-block;
        text-align: center;
        position: absolute;
        top: 5px;
        right: 0;
        background: #000;
        width: 46px;
        height: 46px;
        padding: 9px 0;
        border-radius: 100%;
        transition: all ease 0.4s;
        cursor: pointer;

        .menu-toggle {
          cursor: pointer;

          span {
            vertical-align: middle;
          }

          .line {
            display: inline-block;
            width: 2px;
            height: 17px;
            background: #fff;
            border-radius: 6px;
            transition: transform 0.3s ease;
          }

          .line-2 {
            height: 27px;
            margin-left: 5px;
          }

          .line-3 {
            height: 17px;
            margin-left: 5px;
          }

          .line-4 {
            display: none;
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 1200px) {
  .Nav {
    height: 5.7rem;
  }
}
