@import "../../styles/common.scss";

$font-color: #dcdcdc;

.Footer {
  position: relative;
  width: 100%;
  height: 88vh;
  background-color: #161616;
  padding-top: 10rem;

  .ft {
    max-width: 1500px;
    height: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    text-align: center;

    .f_in {
      padding: 3rem 1rem 0;

      ol {
        margin-left: 2rem;
        padding-left: 5rem;
        display: flex;
        justify-content: space-between;

        li {
          font-family: $title-font;
          letter-spacing: 1px;
          font-size: 20px;
          color: $font-color;
        }
      }
    }

    .foot_logo {
      padding: 10rem 2rem 10rem 4rem;

      img {
        width: 250px;
        height: auto;
        opacity: 0.8;
      }
    }
    .f_contact {
      position: relative;
      left: 5rem;
      width: 600px;
      height: 500px;
      padding: 7rem 4rem;

      li {
        width: 250px;
        height: 50px;
        text-align: left;
        color: $font-color;
        font-family: $title-font;
        font-size: 1.2rem;

        span {
          padding-right: 15px;
          b {
            padding: 0 10px;
          }
        }
      }

      .line {
        position: absolute;
        top: 10rem;
        right: 0;
      }
    }
  }

  .f_sns {
    height: 300px;
    position: absolute;
    right: 15rem;
    bottom: 18rem;

    li {
      width: 40px;
      height: auto;
      margin-bottom: 2rem;
      border: 1px solid $font-color;
      border-radius: 50%;

      img {
        padding: 10px;
        cursor: pointer;
      }
    }
  }

  .copy {
    padding-top: 2.5rem;
    text-align: center;
    color: #fff;
    font-size: 1.5rem;
    opacity: 0.5;
  }
}
