@import "../../../styles/common.scss";

.ConcertDetail {
  background-color: white;
  position: fixed;
  font-family: $main-font;
  color: $nomal-color;
  width: 100%;
  line-height: 1.5;
  letter-spacing: -0.05em;

  .container {
    max-width: 1200px;
    margin: 0 auto;

    article {
      margin: 0 auto;
      max-width: 1200px;

      .concert_content {
        display: flex;
        flex-direction: row;
        height: 600px;
        border-bottom: 1px solid #ddd;

        img {
          padding-bottom: 31%;
          width: 385px;
          height: 524px;
        }

        .detail_info {
          width: 50vw;
          padding-left: 4%;

          .concert_title {
            border-bottom: 1px solid #ddd;

            h3 {
              font-size: 32px;
              font-weight: 500;
              font-family: $sub-font;
              color: #222;
              margin-right: 7px;
            }
          }

          dl {
            display: flex;
            flex-direction: row;

            dt {
              width: 6vw;
              font-weight: 600;
            }
          }
        }
      }
    }
    .content_prevnext {
      border-top: 1px solid #ddd;
      border-bottom: 1px solid #ddd;

      dl {
        padding: 18px 35px 16px;
        display: flex;
        flex-direction: row;

        dt {
          float: left;
          line-height: 1.6;
          padding-right: 30px;
          margin-right: 15px;
          font-size: 13px;
          color: #333;
          cursor: pointer;
        }

        dd {
          line-height: 1.6;
          font-size: 13px;
          color: #666;
        }
      }
    }
  }
  .bottom_btn {
    display: inline-block;
    width: 100%;
    margin: 20px 0 40px;
    text-align: center;

    button {
      width: 112px;
      height: 44px;
      background-color: $brown-color;
      color: #fff;
      border: none;
      font-size: 15px;
    }
  }
}
