@import "../../../styles/common.scss";

.SearchBar {
  position: absolute;
  right: -83px;
  width: 100vw;
  margin-top: 8.5rem;
  background-color: $nomal-color;
  transition: opacity 0.5s ease;
  display: none;

  form {
    width: 100%;
    padding: 44px;
    text-align: center;
    font-family: $title-font;

    .sch_box {
      width: 70vw;
      line-height: 1.5;
      margin: 0 auto;
      position: relative;

      input[type="search"] {
        width: 37vw;
        padding: 5px;
        font-size: 20px;
        letter-spacing: 0.04em;
        border: none;
        border-bottom: 1px solid white;
        outline: none;
        background: none;
        color: #696969;
        margin-right: 0.5rem;
      }

      button[type="submit"] {
        width: 40px;
        height: 40px;
        border: none;
        outline: none;
        background: none;
        background: url("../images/search-icon.png") no-repeat 0.5rem;
        cursor: pointer;
      }
      button {
        width: 40px;
        height: 40px;
        border: 0;
        background: 0;
        outline: none;
        background: url("../images/close-icon.png") no-repeat 0 0;
        background-size: 2.7rem;
        cursor: pointer;
      }
    }
  }
}
